<nav class="st-nav navbar main-nav navigation fixed-top" id="main-nav">
    <div class="container">
        <ul class="st-nav-menu nav navbar-nav">
            <li class="st-nav-section nav-item">
                <a href="index.html" class="navbar-brand">
                    <img src="../img/avion.png" alt="explorescu" class="logo logo-sticky d-block d-md-none">
                    <img src="../img/avion_white.png" alt="explorescu" class="logo d-none d-md-block">
                </a>
            </li>
            <li class="st-nav-section st-nav-primary nav-item">
                <a class="st-root-link nav-link" href="index.html">Home </a>
            </li>
            <li class="st-nav-section st-nav-secondary nav-item">
                <div id="loggedInMain">
                    <a class="btn btn-rounded btn-outline mr-3 px-3" href="login.html">
                        <i class="fas fa-sign-in-alt d-none d-md-inline mr-md-0 mr-lg-2"></i> <span class="d-md-none d-lg-inline">Login</span> 
                    </a>
                    <a class="btn btn-rounded btn-solid px-3" href="register.html">
                        <i class="fas fa-user-plus d-none d-md-inline mr-md-0 mr-lg-2"></i> <span class="d-md-none d-lg-inline">Signup</span>
                    </a>
                </div>
                <div id="notLoggedInMain" hidden>
                    <a class="btn btn-rounded btn-outline mr-3 px-3" href="user.html">
                        <i class="fas fa-user d-none d-md-inline mr-md-0 mr-lg-2"></i> <span class="d-md-none d-lg-inline">My account</span> 
                    </a>
                </div>
            </li><!-- Mobile Navigation -->
            <li class="st-nav-section st-nav-mobile nav-item"><button class="st-root-link navbar-toggler" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <div class="st-popup">
                    <div class="st-popup-container"><a class="st-popup-close-button">Close</a>
                        <div class="st-dropdown-content-group">
                            <h4 class="text-uppercase regular">Pages</h4><a class="regular text-primary" href="about.html"><i class="far fa-building mr-2"></i> About </a><a class="regular text-success" href="contact.html"><i class="far fa-envelope mr-2"></i> Contact </a><a class="regular text-warning" href="pricing.html"><i class="fas fa-hand-holding-usd mr-2"></i> Pricing </a><a class="regular text-info" href="faqs.html"><i class="far fa-question-circle mr-2"></i> FAQs</a>
                        </div>
                        <div class="st-dropdown-content-group bg-light b-t">
                            <div id="loggedIn">
                                <a href="login.html">Sign in <i class="fas fa-arrow-right"></i></a>
                                <a href="register.html">Sign up <i class="fas fa-arrow-right"></i></a>
                            </div>
                            <div id="notLoggedIn" hidden>
                                <a href="user.html">My account <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="st-dropdown-root">
        <div class="st-dropdown-bg">
            <div class="st-alt-bg"></div>
        </div>
        <div class="st-dropdown-arrow"></div>
        <div class="st-dropdown-container">
            <div class="st-dropdown-section" data-dropdown="blocks">
                <div class="st-dropdown-content">
                    <div class="st-dropdown-content-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<script src="js/js.cookie.min.js"></script>
<script>
    var loggedIn = Cookies.get('auth-token')
    if (loggedIn) {
        $("#loggedIn").attr("hidden", true);
        $("#notLoggedIn").removeAttr("hidden");
        $("#loggedInMain").attr("hidden", true);
        $("#notLoggedInMain").removeAttr("hidden");
    }
</script>